body {
    margin:0px;
    padding:0px;
 	border:0px;
    background-image:none;
    left:-8px;
    width:1647px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}
#base {
    z-index:0;
    margin:0px;
    padding:0px;
    border:0px;
    border-right: 2px solid #7D8BA0;
}
#header {
    margin:0px;
    width:1647px;
    height: 35px;
    background-color: #C0CDDE;
    margin-left:auto;
    margin-right:auto;
}
#menu1 {
    border: 2px solid #A1AFC2;
    margin:0px;
    width: 180px;
    height: 330px;
    background-color:#DBE2EB;
}
#menu1>ul {
    margin:0px;
    padding:0px;
    float: left;
    list-style: none;
}
#menu1>ul>.menu_1 {
    width: 182px;
    height: 40px;
    float: left;
    list-style: none;
}
#menu1>ul>.menu_1>a {
    margin: left;
    font-family: "华文细黑";
    font-weight: bold;
    text-decoration: none;
    display: block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-indent: 5px;
    text-align: left;
    color: #000000;
    border-right: 2px solid #7D8BA0;
    background-image: linear-gradient(#CBD5E1, #8D9DBD);
}
#menu1>ul>.menu_1:hover>.option{
    display: block;
}
#menu1>ul>.option{
    width: 180px;
    height: 30px;
    float: left;
    list-style: none;
    display: block;
}
#menu1>ul>.option>a {
    display: block;
    font-family: "华文细黑";
	text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 180px;
    height: 30px;
    line-height: 30px;
    text-indent: -40px;
    background-color: #DBE2EB;
    color: #000000;
}
#botton_list {
    padding: 0px;
    margin:0px;
    width: 1463px;
    height: 35px;
    float: left;
    position: relative;
    bottom: 334px;
    left: 184px;
    margin-left:auto;
    margin-right:auto;
    border-right: 2px solid #7D8BA0;
    background-image: linear-gradient(#BFCCDC, #8D9DBD);
}
.button1 {
    padding: 0px;
    margin:0px;
    width: 100px;
    height: 35px;
    float: left;
    background-image: linear-gradient(#BFCCDC, #8D9DBD);
}