body {
    margin: 0;
}

#base1 {
    width: 100%;
    height: 935px;
    margin: 0;
}

#base2 {
    width: 500px;
    height: 500px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

#u24 {
    width: 65px;
    height: 50px;
    margin-left: 150px;
    margin-top: 30px;
}

#word {
    font-size: 30px;
    display: inline;
    font-weight: bold;
}

#text {
    margin-left: 130px;
    color: hsla(0, 0%, 0%, 0.427450980392157);
}

#box1 {
    width: 140px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    margin-left: 100px;
    margin-top: 30px;
    font-size: 18px;
    color: #1890FF;
    border-bottom: solid #1890FF;
}

.box2 {
    display: flex;
    width: 350px;
    height: 40px;
    margin-left: 70px;
    margin-top: 30px;
    font-size: 16px;
    color: hsla(0, 0%, 0%, 0.247058823529412);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
}

.box3 {
    width: 16px;
    height: 16px;
    margin: 0;
    margin-top: 10px;
    margin-left: 14px;
}

.input {
    width: 310px;
    height: 38px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.447058823529412);
    box-sizing: border-box;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    padding-right: 0;
    margin-left: 10px;
}

#box4 {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
}

#select {
    margin-left: 70px;
    margin-top: 30px;
}

#forget-password {
    display: inline;
    margin-left: 190px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    font-size: 16px;
    color: #1890FF;
}

#sign {
    display: block;
    width: 350px;
    height: 40px;
    margin-left: 70px;
    margin-top: 30px;
    font-size: 16px;
    color: white;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    background: inherit;
    background-color: #1890FF;
}

.u671 {
    width: 16px;
    height: 16px;
}