body {
    margin: 0;
}

#base1 {
    width: 100%;
    height: 935px;
    margin: 0;
}

#base2 {
    overflow: hidden;
    background-color: #e0edfdf1;
}

.logoimgStyle {
	float: left;
	list-style: none;
    margin: 10px 10px;
    width: 35px;
    height: 35px;
}

.logoStyle {
	width: 150px;
	margin: 0;
	background-color: white;
}

#word1 {
    float: left;
	margin: 15px 5px;
	padding: 0;
	list-style: none;
	font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 18px;
    color: #0096FA;
    text-align: left;
    line-height: 26px;
}

#base2 a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

#base2 a:hover {
    background-color: #ddd;
    color: black;
  }

.button {
    margin-right: 20px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    font-size: 16px;
}

#word2 {
    margin-top: 80px;
    margin-left: 480px;
    font-size: 24px;
    font-weight: 700;
}

#box3 {
    display: flex;
    width: 1000px;
    height: 450px;
    margin: 10px auto 0;
}

.chart {
    width: 300px;
    height: 430px;
    margin-top: 10px;
    margin-left: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
}

.title {
    width: 300px;
    height: 30px;
    border-bottom: 1px solid;
}

.title-word {
    margin: 0;
    font-size: 14px;
    padding-top: 5px;
    padding-left: 8px;
}