@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
   margin: 0;
}

/* 导航条 */
.navigationStyle {
    overflow: hidden;
    background-color: #e0edfdf1;
}

/* logo */
.logoimgStyle {
    float: left;
	list-style: none;
    margin: 10px 10px;
}

/* logo块 */
.logoStyle {
	width: 150px;
	margin: 0;
	background-color: white;
}

/* 单词赢 */
#logotext {
	float: left;
	margin: 15px 5px;
	padding: 0;
	list-style: none;
	font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 18px;
    color: #0096FA;
    text-align: left;
    line-height: 26px;
}

/* 导航链接 */
.button-style1 {
    height: 56px;
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background: inherit;
    background-color: #e0edfdf1;
    border-radius: 4px;
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}

/* 导航 - 修改颜色 */
.button-style1:hover {
    background-color: #ddd;
    color: black;
}

/* 主体框 */
#main {
    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 150px;
}

.input {
	display: flex;
	font-size: 18px;
	font-weight: bold;
	padding-top: 30px;
	padding-left: 20px;
}

.password {
    width: 300px;
    height: 50px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
	border-radius: 4px;
	margin-left: 10px;
}

.button-style2 {
	width: 150px;
	height: 50px;
    font-size: 16px;
    color: white;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
	background: inherit;
	margin-top: 30px;
}

#confirm {
	margin-left: 10px;
	background-color: green;
}
#cancel {
	margin-left: 50px;
	background-color: red;
}